<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/index.css">
    <title>www.thuliodev.com</title>
</head>
<body>
    <header class="header" id="main">
        <div class="flex container bottom-line">
            <div class="flex">
                <div><img src="/assets/github.png" class="logo-social-network" alt="github" title="Github"></div>
                <div><img src="/assets/instagram.png" class="logo-social-network" alt="instagram" title="Instagram"></div>
                <div><img src="/assets/linkedin.png" class="logo-social-network" alt="linkedin" title="Linkedin"></div>
            </div>
            <div class="flex">
                <div><img src="../assets/telefone.png" class="logo-social-network" alt="telefone" title="Telefone"></div>
                <p class="phone-number">35 99820-1004</p>
            </div>
        </div>
        <nav class="flex container">
            <a href="#main" class="menu-item">Home</a>
            <a href="#one" class="menu-item">Quem sou</a>
            <a href="#two" class="menu-item">O que faço</a>
            <a href="#"><img src="/assets/cartoon-photo.png" class="photo-cartoon" alt="Thulio Barbosa"></a>
            <a href="#three" class="menu-item">Skills</a>
            <a href="#four" class="menu-item">Portfólio</a>
            <a href="#five" class="menu-item">Fale Comigo</a>
        </nav>
        <div class="container flex-center">
            <p class="main-title">Desenvolvendo soluções para <br><span class="main-title-span">o amanhã</span> </p>
        </div>
    </header>
    <main class="main">
        <section id="one" class="about-me container">
            <div class="text-about-me">
                <p><span class="hello-span">Olá,</span> 
                    sou Thulio Barbosa, desenvolvedor de software entusiasta em UX, 
                    Atualmente Junior em ADVPL, com experiência em aplicações escalaveis,
                    solidas e seguras, amo resolver problemas com programação, e automatizar 
                    processos. 
                </p>
            </div>
            <div class="quote">
                <p><span class="title-quote">Citação</span>
                    <span class="quotation-marks">“ </span>Há duas formas de construir um projeto de software: Uma maneira de 
                    fazer isso deve ser tão simples que, obviamente, não deixem deficiências, e a 
                    outra forma é a de torná-lo tão complicado que não percebam as 
                    evidentes deficiências. O primeiro método é muito mais difícil.<span class="quotation-marks"> ”</span>
                    <span class="author"> - CAR Hoare</span>
                </p>
            </div>
        </section>
    </main>

    <section id="two" class="container"> 
        <div class="title-two">
            <h2>O que faço</h2>
            <p>Serviços e soluções</p>
        </div>
        <div class="what-do-i-do">
            <div class="box">
                <img src="../assets/aplicativo.png" class="img" alt="Aplicativos">
                <p>Desenvolvimentos de aplicativos Android e IoS.</p>
            </div>
            <div class="box">
                <img src="../assets/globe-grid.png" class="img" alt="WebSites">
                <p>Desenvolvimento de aplicações web.</p>
            </div>
            <div class="box">
                <img src="../assets/prototipo.png" class="img" alt="Prototipagem">
                <p>Desenvolvimento de protótipos para UX.</p>
            </div>
        </div>
    </section>

    <section id="three" class="container">
        <div>
            <p class="title-my-skills">Minhas skills e power up's</p>
        </div>
        <div class="container-skill">
            <div class="box-skill">
                <img src="../assets/html.png" alt="Html">
                <p>HTML</p>
            </div>
            <div class="box-skill">
                <img src="../assets/css.png" alt="Css">
                <p>CSS</p>
            </div>
            <div class="box-skill">
                <img src="../assets/js.png" alt="Javascript">
                <p>Html</p>
            </div>
            <div class="box-skill">
                <img src="../assets/java.png" alt="Java">
                <p>Java</p>
            </div>
            <div class="box-skill">
                <img src="../assets/node.png" alt="Node">
                <p>Node</p>
            </div>
            <div class="box-skill">
                <img src="../assets/sql.png" alt="Sql">
                <p>SQL</p>
            </div>
            <div class="box-skill">
                <img src="../assets/react.png" alt="react">
                <p>react</p>
            </div>
        </div>
    </section>

    <section id="five" class="container">
        <div>
            <div>
                <form>
                    <label for="">SEU NOME *</label>
                    <input type="text" placeholder="Digite aqui">
                </form>
            </div>
        </div>
    </section>

</body>
</html>